<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VedioTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F33711891ED6CB2C0091431B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33711A21ED6CB2C0091431B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33711AD1ED6CB2C0091431B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
